.btn{
    margin: 10px;
}

.btn-finalizar, .btn-vaciar{
    padding: 10px 30px;
}

.bi-trash{
    color: red;
    cursor: pointer;
}

.bi-bag-plus{
    color: green;
    margin-left: 20px;
    cursor: pointer;
}

.carrito{
    margin: 10px;
}

#formularioBusquedaCarrito{
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.table{
    width: 1000px;
    height: auto;
}

th{
    text-align: center;
}

td > img{
    width: 200px;
    height: auto;
}

td{
    vertical-align: middle;
    text-align: center;
}

.contenedorFlex{
    display: flex;
    flex-flow: row nowrap;
}

#contenedorFinalizarCompra{
    margin: 40px 10px;
    padding: 40px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contenedorFinalizarCompra > h5{
    text-align: center;
}