.nav-link{
    margin: 0px 20px;
}

#tipoUsuario{
    color: red;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
}

.bi-basket3{
    padding: 10px;
    border: solid 1px #fff;
    border-radius: 5px;
}