@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css");

#contenedorItems{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#contenedorItems div{
    margin: 10px;
}

.linkAdetail{
    text-decoration: none;
}

#btnBorrarItem, #btnModificarItem{
    width: 30px;
    height: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnBorrarItem > i, #btnModificarItem > i{
    font-size: 20px;
}

#btnBorrarItem{
    top: 0px;
    right: 0px;
    color: red;
}

#btnModificarItem{
    top: 35px;
    right: 0px;
    color: white;
}

#modalTitle{
    margin-left: auto;
    margin-right: auto;
}

.bordeSoft{
    border: solid 1px lightgray;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 5px lightgray;
}

#formularioRegistro{
    width: 80%;
}

#formularioLogin{
    width: 70%;
}

.centrado{
    text-align: center;
}
